@import "tailwindcss";


:root {
  --foreground: #ffffff;
  --bg-gradient-start: #370f60;
  --bg-gradient-end: #ca75f2;
--brand-purple: #52227b;
--brand-purple-dark: #3a1858;
--input-purple: #8c4bb8;
}

@theme {
  --color-foreground: var(--foreground);
  --color-brand: var(--brand-purple);
  --color-brand-dark: var(--brand-purple-dark);
  --color-input: var(--input-purple);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  min-height: 100vh;
  background: linear-gradient(
    90deg,
    var(--bg-gradient-start) 1%,
    var(--bg-gradient-end) 80%
  );
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}

.logo-text {
  font-family: var(--font-script);
}

.font-dancing {
  font-family: var(--font-dancing), cursive;
}

.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}
