@import "tailwindcss";

:root {
  --foreground: #ffffff;
  --bg-gradient-start: #BC86CE;
  --bg-gradient-end: #c5c1e3;
  --brand-purple: #683cc1;
}

@theme {
  --color-foreground: var(--foreground);
  --color-brand: var(--brand-purple);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: linear-gradient(
    90deg,
    var(--bg-gradient-start) 40%,
    var(--bg-gradient-end) 100%
  );
  color: var(--foreground);
  font-family: 'Arial, Helvetica, sans-serif';
}
